*
    {
        background-color: darkblue;
        color: white;
    }

#makelinkwhite:hover
    {
        color: red;
    }

.table-wrapper
    {
        overflow-x: auto;
        max-width: 100%;
    }

#headlinebox
    {
        width: 100%;
        text-align: center;     
    }

#tablebig
    {
        margin: 0 auto;
        width: 75%;
        min-width: 600px;
        border-collapse: collapse;
    }

.tablecolumns
    {
        display: grid;
        grid-template-columns: 15%  10% 10% 50% 15%;
        
    }

.leftcolumn
    {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        border-right: 0.5px solid white;
    }

.middlecolumn
    {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-left: 0.5px solid white;
        border-right: 0.5px solid white;
    }

.rightcolumn
    {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-left: 0.5px solid white;
        border-right: 1px solid white;
    }

.lighterblue
    {
        background-color: #003d74;
    }

td, th
    {
        word-wrap: break-word;
        word-break: break-word;
        white-space: normal;
        padding: 8px;
    }

@media (max-width: 600px)
    {
        #tablebig {
        font-size: 14px;
    }
      
.celldata
    {
        padding: 4px;
    }
}